:root {
    --touchPoint-color: red;
    --touchpoint-size: 20px;
    --clusterCircle-color: orange;
    --circular: 50%;
    --lineColor: black;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.data-display-wrapper {
    width: 100%;
    margin: 0;
    height: 25%;
}

.basic-data {
    width: 25%;
    float:left;
    position: relative;
}

.create-constellation-data {
    width: 25%;
    float: left;
    position: relative;
}

.known-constellations-area {
    width: 25%;
    height: 100%;
    float: right;
    position: relative;
    text-align: center;
}

.configure {
    width: 25%;
    position: relative;
    float: left;
}

.increase-decrease {
    width: 100%;
    position: relative;
}

.increase-decrease p {
    width: 50%;
    float: left;
    position: relative;
}

.increase-decrease button {
    width: 12%;
    height: 40px;
    margin: 10px;
    position: relative;
    float: left;
    font-size: 30px;
}

.touchpoint {
    background-color: var(--touchPoint-color);
    width: var(--touchpoint-size);
    height: var(--touchpoint-size);
    border-radius: var(--circular);
    position: absolute;
    display: block;
}

.cluster-circle-element {
    border: 2px solid var(--clusterCircle-color);
    border-radius: var(--circular);
    position: absolute;
}

.connecting-line {
    position: absolute;
    height: 1px;
    background-color: var(--lineColor);
    transform-origin: bottom left;
}

.touch-area {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.known-cluster-box {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

#create-constellation-data {
    display: none;
}

#decompose {
    display: none;
}